*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    outline: none;

}
*:not(i){
     font-family: "Poppins", sans-serif;
}
body{
    background-color: #ae9cff;
  
}
.container{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*علشان يحط العنصر في وسط الشاشه فعلا*/
    width: 90vmin;/* خد 90% من اصغر حاجه يعني لو الطول اكبر من العرض خد 90% من العرض والعكس صحيح ده بيدي مرونه في الشاشات الصغيره*/
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(37, 28, 74, 0.2); 
}
.serch-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.serch-box input{
    padding: 5PX;
    width: 70%;
    border: none;
    font-size: 16px;
    border-bottom: 3px solid #ae9cff;
}
.serch-box #search-btn{
    padding: 15px;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}

.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result .word h3{
    font-size: 30px;
   color: #1f194c;
   font-weight: 500;
}
.result .word button{
    border: none;
    background-color: transparent;
    color: #ae9cff;
    font-size: 18px;
}
.result .ditails{
    display: flex;
    color: #b3b6d4 ;
    gap: 10px;
    font-size: 14px;
    margin: 5px 0 20px 0;
}
.result .world-meanin{
 color: #575a7b;
}
.result .world-example{
 color: #575a7b;
 font-style: italic;
 border-left: 5px solid #ae9cff;
 padding-left: 20px;
 margin-top: 30px;
}