*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    outline: none;

}
*:not(i){     
 font-family: "Poppins", sans-serif;
}

body{
    background-color: #ae9cff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header{
    display: block;
    text-align: center;
    color: #ffff;
    margin-top: 10px;
}
.container{
    background-color: #ffffff;
    width: 90vmin;
    padding: 80px 50px;
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(37, 28, 74, 0.2); 
}
.serch-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.serch-box input{
    padding: 5PX;
    width: 70%;
    border: none;
    font-size: 16px;
    border-bottom: 3px solid #ae9cff;
    color: #1f194c;
}
.serch-box #search-btn{
    padding: 15px;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.word{
    display: none;
    justify-content: space-between;
    margin-top: 80px;
}
.result .word h3{
    font-size: 30px;
   color:#ae9cff ;
   font-weight: 500;
}
.result .word button{
    border: none;
    background-color: transparent;
    color: #ae9cff;
    font-size: 18px;
    cursor: pointer;
}
.result .ditails{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    color: #1f194c;
    gap: 10px;
    font-size: 14px;
    margin: 5px 0 20px 0;
}
.result .ditails p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    width: 100%;
}

.word-meanin1,.word-meanin2 , .word-meanin3 {
 color: #1f194c;
 
}
.definitions{
    color:#ae9cff;
    display: none;
}
